.title Mitgliederversammlungen

%table.table
  %thead
    %tr
      %th Name
      %th Satzungsänderungen
  %tbody
    - @meetings.each do |meeting|
      %tr
        %td= link_to meeting.name, meeting_path(meeting) 
        %td= meeting.description[0...150] +"..."
        - if current_user.is_admin
          %td= link_to 'Bearbeiten', edit_meeting_path(meeting), class:"button"
          %td= link_to 'Löschen', meeting, method: :delete, data: { confirm: 'Bist Du sicher?' }, class:"button"

